[Unit]
Description=Watch /etc for file changes and send a webhook

[Service]
ExecStart=/usr/bin/watch_etc.py
Restart=always

[Install]
WantedBy=multi-user.target