config setup
    protostack=netkey

conn %default
    ikelifetime=28800s
    keylife=3600s
    rekeymargin=3m
    keyingtries=1
    keyexchange=ike
    ikev2=yes

conn edgedevices
    encapsulation=yes
    left={{ aap_ip_private }}
    right=%any
    authby=secret
    auto=start
    dpdaction=clear
    dpddelay=15
    dpdtimeout=45
    ike=3des-sha1,aes-sha1
    esp=aes-sha2_512+sha2_256
    # Add traffic selectors
    leftsubnet={{ aap_ip_private }}/32
    rightsubnets={192.168.0.0/16 172.16.0.0/12}